RAILS_ENV="development"

# Application Database
DB_NAME=followr
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# encrypt db values
APPLICATION_SECRET_KEY=supersecret

DOMAIN='localhost:3000'

# Redis configuration
REDIS_URL=redis://127.0.0.1:6379/1

# Don't run follow/unfollow workers, comment to enable them
WORKERS_DRY_RUN=1

TWITTER_CONSUMER_KEY=''
TWITTER_CONSUMER_SECRET=''

# Mailer

SENDGRID_USERNAME=''
SENDGRID_API_KEY=''
